.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: 10px solid rgb(55, 128, 21);
}

.title {
  text-align: center;
}

a {
  text-decoration: none;
  padding: 50px;
  border-radius: 50%;
  width: 4.5rem;
  height: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  transition: background-color 0.5s, padding 0.5s, color 0.5s;
  -webkit-transition: background-color 0.5s, padding 0.5s, color 0.5s;
  -moz-transition: background-color 0.5s, padding 0.5s, color 0.5s;
  -o-transition: background-color 0.5s, padding 0.5s, color 0.5s;
}

.sub_container {
  display: flex;
  flex-direction: row;
}

a.internship:hover {
  background-color: rgb(44, 108, 243);
  padding: 60px;
  color: white;
}

a.fulltime:hover {
  background-color: rgb(222, 131, 46);
  padding: 60px;
  color: white;
}

.internship {
  margin-right: 10px;
  border: 5px solid rgb(23, 102, 175);
}

html {
  border-top: 80px solid rgb(78, 175, 33);
  border-right: 14px solid rgb(78, 175, 33);
  border-left: 14px solid rgb(78, 175, 33);
}

.fulltime {
  margin-left: 10px;
  border: 5px solid rgb(182, 101, 34);
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .sub_container {
    flex-direction: column;
  }

  .internship {
    margin-bottom: 10px;
    margin-right: 0;
  }

  .container {
    justify-content: flex-start;
  }

  html {
    border-left: 2px solid rgb(78, 175, 33);
    border-right: 2px solid rgb(78, 175, 33);
  }

  .fulltime {
    margin-left: 0;
  }
}
